body {
    background-color: black;
    color: white;
}

.heading {
    text-align: center;
    font-size: 50px;
}

.rock {
    border-radius: 5px;
}

.main-container {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: center;
    height: 40vh;
    width: 100%;

}

.sub-container {
    cursor: pointer;


}

img {
    width: 20vw;
    object-fit: contain;
    height: 30vh;
}

.js-score {
    text-align: center;
    font-size: 40px;
}

.reset-btn {
    position: relative;
    left: 47%;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}